
<div class="container-fluid">
  <a class="heading" href="/"> 
    <i class="fas fa-globe" style="padding: 0.5rem;"></i> <span style="color: #c8e1ee; font-family: 'Satisfy', cursive;" >News</span> Today 
    </a>
</div>

<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Feed <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/business">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/entertainment">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/general">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/health">Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/technology">Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/sports">Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/science">Science</a>
      </li>
    </ul>
  
    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

