
<section class="main-cont">
<div class="container-fluid">
  <a class="heading" href="/"> 
    <i class="fas fa-globe" style="padding: 0.5rem;"></i> <span style="color: #a7cde0; font-family: 'Satisfy', cursive;" >News</span> Today 
    </a>
</div>
</section>

<div class="cont2">

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">

      <div class="searc-bar" id="navbarSupportedContent">

        <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" style="width: 522px;"
                aria-label="Search">
            <button class="btn search-bton my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    
    </div>
  
    <div class="col-lg-4 col-md-12 col-sm-12 inner-cont">
      <div class="dropdown" style="margin-right: 2rem;">
          <button type="button" class="btn dropdown-toggle my-2 my-sm-0" data-toggle="dropdown">
            Category
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/news/business">Business</a>
            <a class="dropdown-item" href="/news/entertainment">Entertainment</a>
            <a class="dropdown-item" href="/news/general">General</a>
            <a class="dropdown-item" href="/news/health">Health</a>
            <a class="dropdown-item" href="/news/technology">Technology</a>
            <a class="dropdown-item" href="/news/sports">Sports</a>
            <a class="dropdown-item" href="/news/science">Science</a>

          </div>
      </div>

    </div>  

  </div>

</div>

